@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-700 text-white;
}

.sidebar{
  width: 17rem;
  height: 100%;
  background-color: fff;
  padding: 1rem;
  transition: all 0.3s linear;
}

.sidebar__top{
  width: max-content;
  display: flex;
  align-content: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.sidebar__logo{
  width: 3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar_list{
  list-style: none;
}

.sidebar__link{
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__icon{
  font-size: 1.2rem;
  display: inline-block;
}

.sidebar__name{
  margin-left: 0.5rem;

}